@model Product


<div class="col-lg-3">
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">@Model.ProductId</h5>
            <h5 class="card-title">@Model.Name</h5>
            <h5 class="card-title">@Model.UnitInStock</h5>
            <p class="card-text">
                @Model.UnitPrice
            </p>
            <a href="@Url.Action("Index2","Home",new { @Model.Name })" class="btn btn-primary">Sepete At</a>
        </div>
    </div>
</div>