
@{
    ViewBag.Title = "Update";
}


@model Product

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Update", "Home", FormMethod.Post))
        {
            <div class="form-group">
                @Html.DropDownListFor(a => a.CategoryID, ViewBag.Categories as IEnumerable<SelectListItem>, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.HiddenFor(a => a.SupplierID)
                @Html.DropDownList("Suppliers", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.HiddenFor(a => a.ProductID)
                @Html.TextBoxFor(a => a.ProductName, new { @class = "form-control", placeholder = "Ürün adı giriniz" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(a => a.UnitPrice, new { @class = "form-control", placeholder = "Ürün fiyatı giriniz" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(a => a.UnitsInStock, new { @class = "form-control", placeholder = "Ürün stok adedi giriniz" })
            </div>
            <div class="form-group">
                <button class="btn btn-success">Güncelle</button>
            </div>

        }
    </div>
</div>
<div class="panel-footer">
    @if (ViewBag.Message != null)
    {
        <spna class="alert-info">@ViewBag.Message</spna>
    }
</div>
